<!--Cloned from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
-->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
        <link href="{{=URL('static','css/rate-my-class.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
        {{include "web2py_ajax.html"}}
    </head>

    <body>
        {{if response.flash:}}
            <div class="w2p_flash">
                {{=response.flash}}
            </div>
            <!-- <div class="module"><h6 class="stripe-2">{{=response.flash}}</h6></div> -->
        {{pass}}

        <!-- Header of website -->
        <div class="topnav">

            <div class="home-logo">
                <a class="active" href="{{=URL('default', 'index')}}"><b>Rate My Class!</b></a>
            </div>

            <div class="dropdown">
                {{if auth.user is None:}}
                    <button class="dropbtn">Login
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{=URL('default', 'user/login')}}">Login</a>
                        <a href="{{=URL('default', 'user/register')}}">Sign Up</a>
                        <a href="{{=URL('default', 'user/request_reset_password')}}">Forgot Password?</a>
                    </div>
                {{else:}}
                    <button class="dropbtn">Welcome, {{=auth.user.first_name}}!
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{=URL('default', 'user/profile')}}">Profile</a>
                        <a href="{{=URL('default', 'user/change_password')}}">Password</a>
                        <a href="{{=URL('default', 'user/logout')}}">Logout</a>
                    </div>
                {{pass}}
            </div>

            <div class="classSearch">
                <div class="search-container">
                    <form action="{{=URL('default', 'class_search')}}">
                        <input type="text" class="classSearchTerm" placeholder="Search for a class..." name="search">
                        <button type="submit" class="classSearchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>

        </div>

        <!-- Body of website -->
        <main>
            {{include}}
        </main>

        <!-- Footer of website -->
        <footer class="botnav">
            <div class="my-copyright">
                <h6>Copyright @ 2018 Zoe Tacderas, Saiya Youn, Michelle Nguyen, Hiep Nguyen</h6>
            </div>
        </footer>
    </body>

</html>
