<!--Cloned from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
-->

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">
        <link href="{{=URL('static','css/rate-my-class.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet" type="text/css"/>
        <link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
        {{include "web2py_ajax.html"}}
    </head>

    <body>
        {{if response.flash:}}
            <div class="w2p_flash">
                {{=response.flash}}
            </div>
        {{pass}}

        <!-- Header of website -->
        <div class="topnav">

            <div class="home-logo">
                <a class="active" href="{{=URL('default', 'index')}}"><b>Rate My Classes!</b></a>
            </div>

            <div class="dropdown">
                {{if auth.user is None:}}
                    <button class="dropbtn">Login
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{=URL('default', 'user/login')}}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>  Login
                        </a>
                        <a href="{{=URL('default', 'user/register')}}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>  Sign Up
                        </a>
                        <a href="{{=URL('default', 'user/request_reset_password')}}">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>  Forgot Password?
                        </a>
                    </div>
                {{else:}}
                    <button class="dropbtn">Welcome, {{=auth.user.first_name}}!
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{=URL('default', 'user/profile')}}">
                            <i class="fa fa-user" aria-hidden="true"></i>  Profile
                        </a>
                        <a href="{{=URL('default', 'user/change_password')}}">
                            <i class="fa fa-key" aria-hidden="true"></i>  Password
                        </a>
                        <a href="{{=URL('default', 'user/logout')}}">
                            <i class="fa fa-power-off" aria-hidden="true"></i>  Logout
                        </a>
                    </div>
                {{pass}}
            </div>

            <!-- commenting out since we don't have a use for it
            <div class="classSearchBar">
                <form class="classSearchForm" action="URL(default, class_search (needs curly braces))">
                    <input type="text" placeholder="Search for a class..." name="search">
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            -->

        </div>

        <!-- Body of website -->
        <main>
            {{include}}
        </main>

        <!-- Footer of website -->
        <footer class="botnav">
            <div class="my-copyright">
                <h6>Copyright @ 2018 Zoe Tacderas, Saiya Youn, Michelle Nguyen, Hiep Nguyen</h6>
            </div>
        </footer>
    </body>

</html>
