{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <div class="classprof container compressible">

        <h3>
            <u>{{=department}} {{=course_number}}: {{=class_name}}</u>
        </h3>

        <h5 id="s_name">
            {{=school_name}}
        </h5>

        <br/>

        <h6>
            Satisfies general education: <p class="grey-text">{{=general_ed}}</p>
            General information about this class:
            <br/>
            <p class="grey-text">{{=class_info}}</p>
        </h6>

        <br/>

        <div class="overall_stats">
            <b>
                Overall Rating: {{=overallrating}}<br/>
                {{=recommendclass}}% recommend this class<br/><br/>
            </b>
        </div>

        <div class="my_review">
            <a class="btn rounded" href="{{=URL('add_review', vars=dict(classid=class_id,
            classname=class_name))}}"><i class="fa fa-plus"></i> Add a Review</a>
        </div>

        

        
        
        
        {{for review in reviews:}}
        <div class="review container">
            <table>    
            <div class="reviewcol quarter container compressible">          
                    
                <tr>   
                    <th> Rating</th>
                    <th> Difficulty</th>
                    <th> Professor </th> 
                    <th> Grade </th> 
                    <th> Would recommend</th>      
                </tr>
                <tr>
                    <td> {{=review.overall_rate}} </td>
                    <td>  {{=review.difficulty_rate}} </td>
                    <td>  {{=review.teacher}} </td> 
                    <td>  {{=review.grade}} </td> 
                    {{if review.recommend is True:}}
                    <td> <i class="fa fa-check" aria-hidden="true"></i> </td>
                    {{else:}}
                    <td> <i class="fa fa-times" aria-hidden="true"></i></td>     
                </tr>
            </div>
           
            {{pass}}
            
            <div class="reviewcol threequarters container compressible">
                    {{=review.created_on.day}}/{{=review.created_on.month}}/{{=review.created_on.year}}<br/>
                    {{=review.main_review}}<br/>
                    --- {{=review.first_name}}
            </div>
                
            </table>   
              
        
           
            <br/><br/>
        {{pass}}
        </div>

    


