{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <div class="classdirectory compressible">

        <!-- Here goes your main HTML code. -->
        <h3>CLASS DIRECTORY</h3>
        <!-- Redirects to School Profile -->
        <a class ="schoolProfileLink" href="{{=URL('school_profile', vars=dict(schoolsearch=school_name))}}">
            {{=school_name}}</a>

        <h3>Viewing: All Courses <a class="btn blue pull-right" href="{{=URL('default','add_class', vars=dict(schoolid=school_id,
            schoolname=school_name))}}">Don't see a class? Click here.</a></h3>
        
        <div class="class table" style="background-color:#fce5ca">
            <table class="fill" id="class directory">
                <tr>
                    <th>Course Number</th>
                    <th>Course Name</th>
                    <th>Overall Rating</th>
                </tr>
                <!-- List all classes -->
                {{if my_classes is not None:}}
                    {{for my_rating, my_class in zip(my_ratings, my_classes):}}
                        <tr>
                            <td>{{=my_class.department}} {{=my_class.course_num}}</td>
                            <td>
                                <a class="classProfileLink" href="{{=URL('class_profile',
                                vars=dict(classid=my_class.id, schoolname=school_name))}}">
                                {{=my_class.course_name}}</a>
                            </td>
                            <td>{{=my_rating}}</td>
                        </tr>
                    {{pass}}
                {{pass}}
            </table>
        </div>

    </div>

</div>