{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <!-- Here goes your main HTML code. -->
    <h3>CLASS DIRECTORY</h3>
    <!--<a class ="schoolProfileLink" href="{{=URL('school_profile')}}">{{=school_name}}</a>-->
    <a class ="schoolProfileLink">{{=school_name}}</a>  <!-- Need to link to school profile, above doesn't work-->

    <h3>Viewing: All courses</h3>
    <a class="btn blue pull-right" href="{{=URL('default','add_class')}}">Don't see a class? click here</a>
    <div class="class table">
        <table class="fill" id="class directory">
            <tr>
                <th>Course number</th>
                <th>Course name</th>
                <th>Rating</th>
            </tr>
            <!-- List all classes -->
            {{if my_classes is not None:}}
                {{for my_class in my_classes:}}
                    <tr>
                        <th>{{=my_class.course_num}}</th>
                        <th>{{=my_class.course_name}}</th>
                        <!-- Add rating -->
                    </tr>
                {{pass}}
            {{pass}}
        </table>
    </div>

</div>