{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <div class="classprof compressible">

        <h3>
            <u>{{=department}} {{=course_number}}: {{=class_name}}</u>
        </h3>

        <h5 id="s_name">
            {{=school_name}}
        </h5>

        <br/>
        <div id="infobox" style="border-radius: 25px;background-color: white;width: 100%;border: 10px;padding: 25px;margin: 25px;margin-left: 0">
        <h6>
            Satisfies general education: <div class="grey-text">{{=general_ed}}</div><br/>
            General information about this class:<br/>
            <div class="grey-text">{{=class_info}}</div>
        </h6>

        <br/>

        <div class="overall_stats">
            <b>
                Overall Rating: {{=overallrating}}<br/>
                {{=recommendclass}}% recommend this class<br/><br/>
            </b>
        </div>
    </div>

        <div class="my_review">
            <a class="btn blue rounded" href="{{=URL('add_review', vars=dict(classid=class_id,
            classname=class_name))}}"><i class="fa fa-plus"></i> Add a Review</a>
        </div>
        <div id="reviews-box" style="
border-radius: 20px;
background-color: white;
box-shadow: inset 0px 0px 10px 0px black;">
        <table id="reviews-table">

            <tr>
                <th></th>
                <th></th>
            </tr>
            {{for review in reviews:}}
                <tr>
                    <td>
                        <div class="reviewcol compressible">

                            Rating: {{=review.overall_rate}}<br/>
                            Difficulty: {{=review.difficulty_rate}}<br/>

                        {{if review.teacher!='None' and review.teacher!='':}}
                            Professor: {{=review.teacher}}<br/>
                        {{pass}}

                            Grade: {{=review.grade}}<br/>

                        {{if review.recommend is True:}}
                            Would recommend: <i class="fa fa-check" aria-hidden="true"></i>
                        {{else:}}
                            Would recommend: <i class="fa fa-times" aria-hidden="true"></i>
                        {{pass}}
                        </div>
                    </td>
                    <td>
                        <div class="reviewcol compressible">
                        {{=review.created_on.month}}/{{=review.created_on.day}}/{{=review.created_on.year}}<br/>
                        {{=review.main_review}}<br/>
                            --- {{=review.first_name}}
                        </div>
                    </td>
                </tr>
            {{pass}}
            <tr>
                <th></th>
                <th></th>
            </tr>

        </table>
    </div>
    </div>

</div>
