{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

    <div class="schoolprof container compressible">

        <!-- Here goes your main HTML code. -->


        {{if school_name is not None:}}
            <h2 style="text-align: center">{{=school_name}}</h2>
            <br/>
            <div class="twothirds">
                <a class="btn blue pull-right" style="..." href="{{=URL('class_directory', vars=dict(schoolname=school_name))}}">View All Courses</a>
            </div>
            <!-- commenting out since it's in class directory now
            <a class="addClassLink" href="[start curly braces]=URL('default', 'add_class', vars=dict(schoolid=school_id,
            schoolname=school_name))[end curly braces]">Don't see your class? Click here to add.</a>
            -->

            <div class="twothirds schoolprof-column compressible">
                <div id="toprating" style="border-radius: 12px;background-color:#fce5ca;border: 10px;padding: 15px;margin: 10px;">
                <h4 style="margin-top:-10px"><u>Top Rated Courses</u></h4>
                
                {{for toprate, topmyclass in zip(toprated, topmyclasses):}}

                    <div class="toprated">

                        <tr>
                            <td>
                                {{=topmyclass.department}} &nbsp &nbsp &nbsp{{=topmyclass.course_num}} &nbsp &nbsp &nbsp 
                            </td>
                            <td>
                                <a class="classProfileLink" href="{{=URL('class_profile',
                                vars=dict(classid=topmyclass.id, schoolname=school_name))}}">
                                {{=topmyclass.course_name}}</a> &nbsp ({{=toprate}})
                            </td>
                        </tr>

                    </div>

                {{pass}}
            </div>
            </div>

            <div class="third schoolprof-column classes compressible">
                <div class="compressible easy classes" style="border-radius: 15px;background-color:#fce5ca;border: 10px;padding: 15px;margin: 10px;">
                    <h4 style="margin-top:-5px"><u>Easy A's</u> <i class="fa fa-thumbs-up" aria-hidden="true"></i></h4>

                    {{for easy_a in easy_as:}}

                        <div class="easy_as">

                            <tr>
                                <td>
                                    {{=easy_a.department}} &nbsp &nbsp &nbsp  {{=easy_a.course_num}} &nbsp &nbsp &nbsp
                                </td>
                                <td>
                                    <a class="classProfileLink" href="{{=URL('class_profile',
                                    vars=dict(classid=easy_a.id, schoolname=school_name))}}">
                                    {{=easy_a.course_name}}</a>
                                </td>
                            </tr>

                        </div>

                    {{pass}}
                </div>

                <br/><br/><br/><br/>

                <div class="compressible hard classes" style="border-radius: 15px;background-color:#fce5ca;border: 10px;padding: 15px;margin: 10px;">
                    <h4 style="margin-top:-5px"><u>GPA Killers</u> <i class="fa fa-thumbs-down" aria-hidden="true"></i></h4>

                    {{for gpakiller in gpakillers:}}

                        <div class="gpakillers">

                            <tr>
                                <td>
                                    {{=gpakiller.department}} &nbsp &nbsp &nbsp {{=gpakiller.course_num}} &nbsp &nbsp &nbsp
                                </td>
                                <td>
                                    <a class="classProfileLink" href="{{=URL('class_profile',
                                    vars=dict(classid=gpakiller.id, schoolname=school_name))}}">
                                    {{=gpakiller.course_name}}</a>
                                </td>
                            </tr>

                        </div>

                    {{pass}}
                </div>
            </div>

        <br/><br/><br/><br/>

        {{else:}}
            <h3> School not found </h3>
        {{pass}}

    </div>

</div>
