/* Cloned from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
https://codepen.io/huange/pen/rbqsD
*/

/* ================= Used in layout.html ================================== */

/*
Cloned from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://codepen.io/huange/pen/rbqsD
 */

* {box-sizing: border-box;}

body {
    background: #ed9038;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #49c1f4;
    border: 1px solid #49c1f4;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #4bb7e6;
    color: black;
}

.topnav a.active {
    background-color: #4bb7e6;
    color: white;
}

.topnav .classSearch {
    float: left;
    width: 30%;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topnav .search-container {
    float: right;
    width: 100%;
    position: relative
}

.topnav input[type=text] {
    font-size: 17px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.classSearchTerm {
    float: left;
    height: 46px;
    color: black;
}

.classSearchTerm:focus {
    color: black;
}

.classSearchButton {
    position: absolute;
    top: -16%;
    right: -36px;
    width: 40px;
    height: 46px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        /*width: 100%;*/
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.topnav .classSearch a.login {
    color: white;
}

/*
Cloned from: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
 */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    min-width: 175px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.botnav {
    background-color: #49c1f4;
}

.botnav .my-copyright {
    text-align: center;
    border: 1px solid #49c1f4;
}

/* ================= Used in index.html ================================== */

/*
Cloned from: https://codepen.io/huange/pen/rbqsD
 */

.search {
    width: 100%;
    position: relative
}

.searchTerm {
    float: left;
    height: 46px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: black;
    font-size: 20px;
}

.searchTerm:focus {
    color: black;
}

.searchButton {
    position: absolute;
    right: -36px;
    width: 40px;
    height: 46px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    padding: 6px 10px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
