/* Cloned from:
https://www.w3schools.com/howto/howto_css_search_button.asp
https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
https://codepen.io/huange/pen/rbqsD
*/

/* ================= Used in layout.html ================================== */

/*
Cloned from:
https://www.w3schools.com/howto/howto_css_searchbar.asp
https://codepen.io/huange/pen/rbqsD
 */

* {box-sizing: border-box;}

body {
    background: #ed9038;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #3a3a3a;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Over-ridden by stupid.css */
.topnav a:hover {
    background-color: #4bb7e6;
    color: black;
}

.topnav a.active {
    background-color: #3a3a3a;
    color: #49c1f4;
}

@media screen and (max-width: 600px) {
    form.classSearchForm {
        max-width: max-content;
    }
    form.classSearchForm input[type=text] {
        max-width: 83%;
        float: left;
    }
    form.classSearchForm button {
        float: right;
        position: relative;
        width: 30px;
        height: 40px;
    }
}

.classSearchBar {
    margin: auto;
    max-width: 300px;
}

/* Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button */
form.classSearchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.classSearchForm button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.classSearchForm button:hover {
    background: #0b7dda;
}

form.classSearchForm::after {
    content: "";
    clear: both;
    display: table;
}

/*
Cloned from: https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp
 */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #49c1f4;
    min-width: 175px;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: #3a3a3a;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3a3a3a;
    min-width: 175px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #49c1f4;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #3a3a3a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.botnav {
    background-color: #3a3a3a;
}

.botnav .my-copyright {
    text-align: center;
    color: #49c1f4;
    border: 1px solid #3a3a3a;
}

/* ================= Used in index.html ================================== */

.schoolSearchBar {
    margin: auto;
    max-width: 350px;
}

/* Copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_search_button */
form.schoolSearchForm input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.schoolSearchForm button {
    float: left;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.schoolSearchForm button:hover {
    background: #0b7dda;
}

form.schoolSearchForm::after {
    content: "";
    clear: both;
    display: table;
}

.addschool {
    text-align: center;
}

.addSchoolLink {
    font-weight: bold;
    color:#49c1f4;
}

.addSchoolLink:hover {
    background-color: #3a3a3a;
    color: #49c1f4;
}

/* ================= Used in school_profile.html ================================== */

.addClassLink {
    font-weight: bold;
    color:#49c1f4;
}

.addClassLink:hover {
    background-color: #3a3a3a;
    color: #49c1f4;
}

.classProfileLink {
    font-weight: bold;
    color: black;
}

.classProfileLink:hover {
    color: #49c1f4;
}

/* ================= Used in class_profile.html ================================== */

.classprof {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    margin-right: 90px;
}

.reviewcol {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

h5#s_name {
    color: #575554;
}

.grey-text {
    color: #575554;
}

.addReviewLink {
    font-weight: bold;
    color: black;
}

.addReviewLink:hover {
    color: #49c1f4;
}

/* ================= Used in class_directory.html ================================== */

.classdirectory {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.schoolProfileLink {
    font-weight: bold;
    color: black;
}

.schoolProfileLink:hover {
    color: #49c1f4;
}
